body {
  background: #000;
}
.site-header {
  color: #fff;
}
.tolu-profile main.main {
  display: flex;
}
div.content-area {
  padding: 1rem;
  display: grid;
  grid-template-columns: 40% 60%;
}
div.aside {
  border-right: 1px solid #ccc;
  width: 100%;
  height: 70vh;
}
div.aside img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}